*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
.container{
    width: 100%;
    
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%),url(../images/1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.logo h1{
    position: absolute;
    top: 26px;
    left: 75px;
    font-size: 3rem;
}
span{
    color: #ff7200;
}
.icon{
    
    display: flex;
    justify-content: end;
    width: 100%;
    align-items:last baseline;
}
.icon .navi{
    flex-basis: 20%;
    margin: 40px;
    
}
.icon .search{
   flex-basis: 30%;
    
}
.navi ul{
    display: flex;
    gap: 40px;
    

}
.navi ul li{
    list-style: none;
    
}
.navi ul li a{
 
 text-decoration: none;
 color: #fff;
 font-size: 26px;
 transition: 0.15s ease-out;
}
.navi ul li a:hover{
    color: #ff7200;
}
.search input{
    margin-left: 25%;
    background: transparent;
    border: 1px solid #ff7200;
    width: 200px;
    height: 40px;
    border-right:none ;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    color: #fff;
}
.search .btn{
    margin-left: 0;
    background: #ff7200;
    border: 1px solid #ff7200;
    color: #fff;
    padding: 10px;
    border-left: none;
    width: 100px;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.srch::placeholder{
    color: #fff;
}
.content{
    position: relative;
    top: 180px;
    left:50px;
}
.content h1{
    font-size: 50px;
    font-family: 'Times New Roman';
    letter-spacing: 2px;
}
.content p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.btnn1{
width: 200px;
height: 40px;
background: #ff7200;
border: none;
margin-top: 30px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
color: #000;
transition: 0.4s ease;
}
.btnn1:hover{
    background-color: #fff;
}

.form{
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top:320px;
    left: 890px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 15px;
}

.form input:focus{
    outline: none;
    background: transparent;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #116bda;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}



